services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ticketing
      POSTGRES_PASSWORD: ticketing
      POSTGRES_DB: ticketing
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    environment:
      # Importante: SQLAlchemy driver psycopg (v3)
      DATABASE_URL: postgresql+psycopg://ticketing:ticketing@db:5432/ticketing
      ENVIRONMENT: docker
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  pgdata:
